/* src/Modal/modal.css */

.Modal {
  position: fixed; /* Posición fija respecto a la ventana del navegador */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  align-items: center; /* Alineación vertical al centro */
  justify-content: center; /* Alineación horizontal al centro */
  z-index: 1; /* Índice z para asegurar que esté sobre otros elementos */
}