/* src/CreateTodoButton.css */

/* Estilos para el botón de crear tareas */
.CreateTodoButton {
  background-color: #22a6b3;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.CreateTodoButton:hover {
  background-color: #3dc1d3;
}