/* src/index.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f1f1f1;
  background: linear-gradient(45deg, #fcff9e 0%, #c67700 100%);
  min-height: 100vh;
  width: 100%;
}

/* Aplicar estilos globales para elementos de lista */
ul {
  list-style: none;
  padding: 0;
}


