/* Estilos para cada tarea */
.TodoItem {
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center; /* Asegura el centrado vertical */
  justify-content: space-between; /* Alinea los elementos a ambos extremos */
}

.TodoItem:last-child {
  border-bottom: none;
}

/* Estilo cuando un todo está completado */
.TodoItem.completed p {
  text-decoration: line-through;
  color: #d9d9d9;
}

/* Estilo para el texto de la tarea */
.TodoItem p {
  margin: 0;
  flex-grow: 1;
  text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para el botón check */
.TodoItem-check {
  cursor: pointer;
  color: #2e7d32; /* Color verde para la V */
  transition: transform 0.2s; /* Animación suave para el transform */
}

.TodoItem-check:hover {
  transform: scale(1.2); /* Hace la V un 20% más grande al pasar el mouse */
}

/* Estilos para el botón delete */
.TodoItem-delete {
  cursor: pointer;
  color: #000; /* Color inicial para la X */
  transition: transform 0.2s, color 0.2s; /* Animación suave para el transform y color */
}

.TodoItem-delete:hover {
  transform: scale(1.2); /* Hace la X un 20% más grande al pasar el mouse */
  color: #d32f2f; /* Color rojo para la X al pasar el mouse */
}
